<div class="container">
  <h1>게시판 목록</h1>
  
<form>
    <input type="text" name="query"></input>
    <input type="submit" value="검색"></input>
</form>

  <table class="table">
    <thead>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>Like</th>
        <th>작성시간</th>
      </tr>
    </thead>
  
    <tbody>
      <% @postss =@posts.reverse %>
      <% @postss.each do |post| %>
        <tr>
          <td><%= link_to post.title , post %></td>
          <td><%= post.user.name %></td>
          <td><%= post.likes.size %> 명</td>
          <td><%= post.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to '새글작성', new_post_path %>


</div>