<p id="notice"><%= notice %></p>



<h1>A yo! finally!</h1>

<table>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td> 
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td> 
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <button type="button" class="btn btn-default btn-lg"><%= link_to 'new post', new_post_path %></button></a>


<% if current_user.nil? %>
  <button type="button" class="btn btn-default btn-lg"><%= link_to 'Sign_in', new_user_session_path %></button></a>
<% else %>
    <button type="button" class="btn btn-default btn-lg"><%= link_to 'Sign_out', destroy_user_session_path, method: 'delete' %></button></a>
<% end %>

<a href="/"><button type="button" class="btn btn-default btn-lg">Go home</button></a>